.git
.github
**/node_modules
**/.next
out/
.env
.env.local
.env.development
.env.test
.env.production
*.md
.vscode
Dockerfile
.dockerignore
docker-compose.yml
cypress
**/*.test.*
**/__tests__/
coverage/
.nyc_output/
.eslintrc*
.prettier*
.husky 